
:root {
    --heightBoxUnitTitle: 30px;
}

#baguetteBox-overlay .full-image img {
    max-height: 79%;
    margin-top: calc(var(--heightBoxUnitTitle) + 10px);
    max-width: 94.5%;
    border-radius: 15px !important;
    border:rgba(100, 218, 247, 0.452) 2px solid;
}

#myGameLink {
    position: absolute;
    transform-origin: center;
    top: 3.2%;
    height: var(--heightBoxUnitTitle);
    z-index: 6;
    color: rgba(255, 255, 255, 0.911);
    font-size: 120%;
     box-shadow: 0px 1px 8px 6px rgba(100, 182, 247, 0.59);
}

#myGameLink::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    background: radial-gradient(circle, rgb(33, 192, 192) 3%, rgba(28, 17, 108, 0.7847514005602241) 25%, rgba(27, 26, 168, 1) 40%, rgba(56, 59, 145, 1) 70%, rgba(31, 37, 187, 0.8379726890756303) 90%, rgba(40, 164, 67, 1) 95%, rgba(28, 17, 108, 0.7847514005602241));
    background-size: 400%;
    border-radius: 0.3rem;
    filter: blur(1px);
    opacity: 0;
    animation: glowing 20s linear infinite;
    transition: opacity .2s ease-in-out;
}

#myGameLink[data-bagetteBoxTitleFoneClass="0"]::before {
    background: radial-gradient(circle, rgba(122,199,93,1) 0%, rgba(52,112,180,0.9108018207282913) 10%, rgba(105,127,171,1) 20%, rgba(54,75,203,1) 30%, rgba(66,109,163,1) 40%, rgba(52,88,151,1) 50%, rgba(41,71,160,1) 60%, rgba(30,53,169,1) 70%, rgba(48,23,176,1) 80%, rgba(19,34,180,1) 90%, rgba(13,25,184,1) 100%);
    background-size: 400%;
}

#myGameLink[data-bagetteBoxTitleFoneClass="1"]::before {
    background: linear-gradient(245deg, rgba(93,199,135,1) 0%, rgba(52,112,180,0.9108018207282913) 10%, rgba(105,127,171,1) 20%, rgba(54,75,203,1) 30%, rgba(66,109,163,1) 40%, rgba(19,20,219,1) 50%, rgba(41,71,160,1) 60%, rgba(30,53,169,1) 70%, rgba(48,23,176,1) 80%, rgba(19,34,180,1) 90%, rgba(13,25,184,1) 100%);
    background-size: 400%;
}

#myGameLink[data-bagetteBoxTitleFoneClass="2"]::before {
    background: linear-gradient(45deg, #19002c, #000080, #001f54, #003b80, #0056ac, #0072d8, #2892ff, #7fbfff, #b9e3ff);
    background-size: 400%;
}

#myGameLink[data-bagetteBoxTitleFoneClass="3"]::before {
    background: linear-gradient(90deg, #19002c, #000080, #001f54, #003b80, #0084ac, #00d8bb, #08bb17, #000080, #001f54);
    background-size: 400%;
}

#myGameLink[data-bagetteBoxTitleFoneClass="4"]::before {
    background: radial-gradient(circle, rgb(33, 192, 192) 3%, rgba(28, 17, 108, 0.7847514005602241) 25%, rgba(27, 26, 168, 1) 40%, rgba(56, 59, 145, 1) 70%, rgba(31, 37, 187, 0.8379726890756303) 90%, rgba(40, 164, 67, 1) 95%, rgba(28, 17, 108, 0.7847514005602241));
    background-size: 400%;
}

#myGameLink[data-bagetteBoxTitleFoneClass="5"]::before {
    background: radial-gradient(circle, rgba(10,92,21,1) 1%, rgba(15,185,238,0.7847514005602241) 20%, rgba(136,168,26,1) 52%, rgba(56,59,145,1) 70%, rgba(55,55,147,1) 82%, rgba(31,37,187,0.8379726890756303) 88%, rgba(40,151,164,1) 96%);
    background-size: 400%;
}

#myGameLink[data-bagetteBoxTitleFoneClass="6"]::before {
    background: linear-gradient(323deg, rgba(13,190,69,1) 0%, rgba(13,104,187,0.8463760504201681) 22%, rgba(13,184,168,1) 40%, rgba(18,78,196,1) 74%, rgba(21,64,217,1) 100%);
    background-size: 400%;
}

#myGameLink[data-bagetteBoxTitleFoneClass="7"]::before {
    background: linear-gradient(332deg, rgba(34,193,195,1) 0%, rgba(33,36,191,1) 23%, rgba(189,32,77,0.9304096638655462) 39%, rgba(31,125,187,1) 54%, rgba(30,100,184,1) 74%, rgba(182,40,30,0.958420868347339) 83%, rgba(29,67,179,1) 100%);
    background-size: 400%;
}

#myGameLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}


#myGameLink:active::after {
    background: transparent;
}

#myGameLink:hover::before {
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

figcaption[id*="baguetteBox"] {
    display: none !important;
}


.myGameLinkSpan {
   content: url(https://img.icons8.com/ios-filled/19/link--v1.png);
}

#myGameLink:hover .myGameLinkSpan {
    content: url(https://img.icons8.com/external-wanicon-lineal-color-wanicon/19/external-link-user-interface-wanicon-lineal-color-wanicon.png);
}


