.quote {
    position: relative;
    width: 100%;
    height: 220px;
    padding-top: 40px;
    background: url("../img/footer.jpg") no-repeat center;
    background-size: cover;
}

.quote .quote-external {
    max-width: 400px;
}

.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #090c1500;
    z-index: 0;
}

.quote-external p::before,
.quote-external p::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #0d6efd;
    margin: 14px auto 10px auto;
}

#mainFooter {
    background-color: #131722;
    color: gray;
}

[data-font-family-custom] cite {
    color: rgb(214, 238, 238);
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
}

.color-custom:hover,
.color-custom:hover * {
    color: yellow;
}

.color-custom:hover {
    transform: scale(1.065);
    transition: transform 0.3s ease;
    transition-delay: 0.2s, 0.4s;
    transition-duration: 0.7s, 0.7s;
}

@media (min-width: 769px) {

    .color-custom:hover,
    .color-custom:hover * {
        transform: scale(1.4);
    }
}

.color-custom:not(:hover) {
    transform: scale(1);
    transition-delay: 0.4s, 0.2s;
    transition-duration: 0.7s, 0.7s;
}

[data-footerBottom] {
    background-color: #0c101b;
}

.contactsLinks img {
    max-width: 40px;
    max-height: 40px;
    border: 1px solid none;
    padding: 7px;
    border-radius: 25%;
}

.contactsLinks img:hover {
    background-color: #0c101b;
    transform: scale(1.05);
}

@media (max-width: 567px) {
    .contactsLinks li {
        width: calc((100% - 6px) / 7);
        padding-left: 0;
        padding-right: 1px;
    }
}

#mainFooter .custom-border {
    max-width: 85%;
    text-align: center;
}

