.menuTop {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.911);
    transition: background-color 0.3s;
    box-shadow: 0px 11px 9px -10px rgba(70, 125, 167, 0.67);
    z-index: 3;

}

.menuTop-after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: -1;
}

.indicatedAirFlow {
    min-width: 63px;
}

.menuTop-title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


.acmLableContainer {
    position: fixed;
    justify-content: start;
    left: 3%;
    top: 2px;
}

.acmLable {
    position: relative;
    width: 50px;
    height: 50px;
}

.acmLogo {
    position: absolute;
    justify-content: start;
}

.apName {
    justify-self: center;
}

.menuTop-bottom {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    margin-left: 6.5%;
    margin-right: 6.5%;
    flex-wrap: wrap;
}

.outputVUselect {
    border: 1px solid gold;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.acmLogo img {
    height: 1.75rem;
    border-radius: 50% 20% / 10% 40%;
    background: linear-gradient(160deg, rgba(13, 190, 69, 1) 0%, rgba(13, 184, 168, 1) 40%, rgba(21, 64, 217, 1) 100%);
    transition: filter 1.5s;
}

.acmLogo img:hover {
    transition: filter 0.3s;
    filter: hue-rotate(28deg);
}

@media (max-width: 665px) {
    .acmLogo img {
        height: 1rem;
    }
}

@media (min-width: 477px) and (max-width: 676px) {
    .menuTop-bottom {
        display: grid;
    }

    .menuTop-bottom {
        justify-content: center !important;
    }
}

@media (max-width: 476px) {
    .menuTop-bottom {
        justify-content: center !important;
    }

    .menuTop-bottom {
        display: grid;
    }
}