#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    border: solid 3.5px;
    border-radius: 50%;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 4;
}


@media (max-width: 1024px) {


    #scrollBtn {
        bottom: calc(20px - 1.55em);

        right: calc(20px - 1em);
        transform: scale(0.6);


    }
}

#scrollBtn.show {
    opacity: 1;
    visibility: visible;
    box-shadow: rgb(0, 0, 0) 0px 0px 7px -1px;
}

#scrollBtn .arrow {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    transform: rotate(-45deg);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}


#scrollBtn,
#scrollBtn .arrow {
    border-color: rgb(83, 196, 241);

}

#scrollBtn:hover,
#scrollBtn .arrow:hover {
    border-color: rgb(83, 241, 215);
    background-color: rgba(0, 0, 0, 1);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px -1px;
}




body #scrollBtn {
    border-radius: 37%;
    border-color: #139bbd;
}

body #scrollBtn:hover {
    border-color: #0fd669;
}