:root {
    --first-color: #139bbd;
    --second-color: hsl(244, 89%, 51%);
    --second-colorHr: hsl(239, 92%, 47%);
    --scrolledStyleThemeColor: rgb(83, 196, 241);
    --scrolledStyleThemeColorHover: rgb(83, 241, 215);
}

body.theme-switchON {
    transition: 0.37s;
    color: #0c101b;
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140, 0.03) 0%, rgba(140, 140, 140, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(143, 143, 143, 0.03) 0%, rgba(143, 143, 143, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(65, 65, 65, 0.03) 0%, rgba(65, 65, 65, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(305deg, #0c101b, #0c101b);
}

body {
    transition: 0.37s;
    color: rgb(255, 255, 255);
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140, 0.03) 0%, rgba(140, 140, 140, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(143, 143, 143, 0.03) 0%, rgba(143, 143, 143, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(65, 65, 65, 0.03) 0%, rgba(65, 65, 65, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(305deg, #f0e5d6, rgb(255, 255, 255));

}

.menuTop.theme-switchON {
    transition: 0.37s;
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140, 0.03) 0%, rgba(140, 140, 140, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(143, 143, 143, 0.03) 0%, rgba(143, 143, 143, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(65, 65, 65, 0.03) 0%, rgba(65, 65, 65, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(305deg, #0c101b, #0c101b);
}

.menuTop {
    transition: 0.37s;
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140, 0.03) 0%, rgba(140, 140, 140, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(143, 143, 143, 0.03) 0%, rgba(143, 143, 143, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(65, 65, 65, 0.03) 0%, rgba(65, 65, 65, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(305deg, #f0e5d6, rgb(255, 255, 255));
}

.menuTop-title.theme-switchON {
    transition: 0.37s;
    color: aliceblue;
    color: rgba(71, 151, 245, 0.92);
}

.menuTop-title {
    transition: 0.37s;
    color: rgba(15, 115, 255, 0.92);
    text-shadow: 0 0 75px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
}

.menTop-div-title.theme-switchON {
    transition: 0.37s;
    color: aliceblue;
}

.menTop-div-title {
    transition: 0.37s;
    color: black;
}

.outputVUselect.theme-switchON {
    transition: 0.37s;
    color: #00BFFF;
}

.outputVUselect {
    transition: 0.37s;
    color: rgb(14, 137, 245);
    font-weight: 700;
    font-size: 13px;
    border: none;
}

footer.theme-switchON {
    transition: 0.37s;
    background-image: linear-gradient(525deg, rgba(76, 76, 76, 0.02) 0%, rgba(76, 76, 76, 0.02) 34%, transparent 34%, transparent 67%, rgba(142, 142, 142, 0.02) 67%, rgba(142, 142, 142, 0.02) 73%, rgba(151, 151, 151, 0.02) 73%, rgba(151, 151, 151, 0.02) 100%), linear-gradient(505deg, rgba(145, 145, 145, 0.02) 0%, rgba(145, 145, 145, 0.02) 10%, transparent 10%, transparent 72%, rgba(35, 35, 35, 0.02) 72%, rgba(35, 35, 35, 0.02) 76%, rgba(69, 69, 69, 0.02) 76%, rgba(69, 69, 69, 0.02) 100%), linear-gradient(453deg, rgba(128, 128, 128, 0.02) 0%, rgba(128, 128, 128, 0.02) 5%, transparent 5%, transparent 76%, rgba(78, 78, 78, 0.02) 76%, rgba(78, 78, 78, 0.02) 83%, rgba(224, 224, 224, 0.02) 83%, rgba(224, 224, 224, 0.02) 100%), linear-gradient(383deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 36%, transparent 36%, transparent 85%, rgba(180, 180, 180, 0.02) 85%, rgba(180, 180, 180, 0.02) 99%, rgba(123, 123, 123, 0.02) 99%, rgba(123, 123, 123, 0.02) 100%), linear-gradient(275deg, #131722, #131722);

}

footer {
    transition: 0.37s;
    background-image: linear-gradient(525deg, rgba(76, 76, 76, 0.02) 0%, rgba(76, 76, 76, 0.02) 34%, transparent 34%, transparent 67%, rgba(142, 142, 142, 0.02) 67%, rgba(142, 142, 142, 0.02) 73%, rgba(151, 151, 151, 0.02) 73%, rgba(151, 151, 151, 0.02) 100%), linear-gradient(505deg, rgba(145, 145, 145, 0.02) 0%, rgba(145, 145, 145, 0.02) 10%, transparent 10%, transparent 72%, rgba(35, 35, 35, 0.02) 72%, rgba(35, 35, 35, 0.02) 76%, rgba(69, 69, 69, 0.02) 76%, rgba(69, 69, 69, 0.02) 100%), linear-gradient(453deg, rgba(128, 128, 128, 0.02) 0%, rgba(128, 128, 128, 0.02) 5%, transparent 5%, transparent 76%, rgba(78, 78, 78, 0.02) 76%, rgba(78, 78, 78, 0.02) 83%, rgba(224, 224, 224, 0.02) 83%, rgba(224, 224, 224, 0.02) 100%), linear-gradient(383deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 36%, transparent 36%, transparent 85%, rgba(180, 180, 180, 0.02) 85%, rgba(180, 180, 180, 0.02) 99%, rgba(123, 123, 123, 0.02) 99%, rgba(123, 123, 123, 0.02) 100%), linear-gradient(275deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

[data-footerBottom].theme-switchON {
    transition: 0.37s;
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140, 0.03) 0%, rgba(140, 140, 140, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(143, 143, 143, 0.03) 0%, rgba(143, 143, 143, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(65, 65, 65, 0.03) 0%, rgba(65, 65, 65, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(305deg, #0c101b, #0c101b);
}

[data-footerBottom].theme-switchON li span {
    transition: 0.37s;
    color: aliceblue;
}

[data-footerBottom] {
    transition: 0.37s;
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140, 0.03) 0%, rgba(140, 140, 140, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(143, 143, 143, 0.03) 0%, rgba(143, 143, 143, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(65, 65, 65, 0.03) 0%, rgba(65, 65, 65, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(305deg, #f0e5d6, rgb(255, 255, 255));
}

[data-footerBottom] li span {
    transition: 0.37s;
    color: black;
}

body.theme-switchON .multi-button {
    box-shadow: 0 0 15px 1px var(--second-colorHr);
}

body.theme-switchON .multi-button .first {
    transition: 0.37s;
    box-shadow: 0 0 11px 3px #27e6d648, 0 0 31px 6px #27e6d63d;
}

body.theme-switchON .multi-button .first:hover {
    transition: 0.37s;
    box-shadow: 0 0 11px 3px;
}

body.theme-switchON .acmVent::after {
    border-color: #445c9ecc;
}

body.theme-switchON .flowSearchDesing input {
    transition: 0.37s;
    border-color: rgb(83, 241, 215) !important;
    box-shadow: 0 0 11px 1px rgba(9, 255, 0, 0.89);
}

.flowSearchDesing input {
    transition: 0.37s;
    background: #f3fff0;
    color: rgb(4, 36, 36);
    font-weight: 600;
    box-shadow: 0 0 15px 4px wheat;
    border-color: rgb(185, 161, 119) !important;
}


body.theme-switchON .section-wrapper .floating-action-button ul li {
    transition: 0.37s;
    color: rgb(255, 252, 98);
}

body.theme-switchON #scrollableTable {
    transition: 0.37s;
    background-image: radial-gradient(circle at 77% 66%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 9%, transparent 9%, transparent 43%, transparent 43%, transparent 100%), radial-gradient(circle at 6% 56%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 20%, transparent 20%, transparent 56%, transparent 56%, transparent 100%), radial-gradient(circle at 48% 45%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 15%, transparent 15%, transparent 85%, transparent 85%, transparent 100%), radial-gradient(circle at 89% 6%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 5%, transparent 5%, transparent 32%, transparent 32%, transparent 100%), radial-gradient(circle at 71% 38%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 14%, transparent 14%, transparent 21%, transparent 21%, transparent 100%), radial-gradient(circle at 84% 78%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 11%, transparent 11%, transparent 85%, transparent 85%, transparent 100%), radial-gradient(circle at 92% 72%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 42%, transparent 42%, transparent 51%, transparent 51%, transparent 100%), radial-gradient(circle at 73% 95%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 48%, transparent 48%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 29% 29%, hsla(39, 0%, 85%, 0.05) 0%, hsla(39, 0%, 85%, 0.05) 24%, transparent 24%, transparent 73%, transparent 73%, transparent 100%), linear-gradient(221deg, hsl(147, 0%, 99%), rgba(245, 233, 179, 0.973));

}

body.theme-switchON tbody tr:nth-of-type(odd) {
    background-color: rgba(13, 111, 238, 0.596);
    color: white;
}