:root {
  --navLinkHLineColor: #08da13;
  --tsButtonSize: 4.5vw;
}

.section-wrapper,
.floating-action-button,
.share-btn,
.share-txt,
.floating-action-button ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-wrapper {
  position: fixed;
  top: 34.5vh;
  right: calc(32px - 1em);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

}

.section-wrapper .floating-action-button {
  height: 60px;
  width: 60px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(45deg);
}

.section-wrapper .floating-action-button .share-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsl(244, 89%, 51%);
  border-radius: 10px;
  box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.37s ease-in-out;
  border: 2px solid rgb(0, 255, 170);
}

.section-wrapper .floating-action-button .share-btn:hover,
.section-wrapper .floating-action-button .share-txt:hover {
  transform: scale(1.03);
  transition: all 0.37s ease-in-out;
  border-color: #08da13;
  background-color: rgba(15, 115, 255, 0.92);
}

.section-wrapper .floating-action-button .share-btn:hover .share-ionIcon {
  transform: rotate(315.1deg);
  transition: all 0.5s ease-in-out;
}

.section-wrapper .floating-action-button .share-btn:active,
.section-wrapper .floating-action-button .share-txt:active {
  transform: scale(0.95);
}

.section-wrapper .floating-action-button .share-btn #share-icon {
  display: block;
}

.section-wrapper .floating-action-button .share-btn #close-icon {
  display: none;
}

.section-wrapper .floating-action-button .share-btn.active #share-icon {
  display: none;
}

.section-wrapper .floating-action-button .share-btn.active #close-icon {
  display: block;
}

.section-wrapper .floating-action-button ul {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section-wrapper .floating-action-button ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(160deg, rgba(13, 190, 69, 1) 0%, rgba(13, 184, 168, 1) 40%, rgba(21, 64, 217, 1) 100%);

  color: whitesmoke;
  list-style-type: none;
  transform: scale(0.95);
  transition: all 0.27s ease-in-out;
  border-radius: 10px;

}

.section-wrapper .floating-action-button ul li:hover {
  filter: hue-rotate(28deg);
  transition: all 0.27s ease-in-out;
}


.section-wrapper .floating-action-button ul.active li:nth-child(1) {
  top: 200%;
  left: 200%;
  transition-delay: 0s;
}

.section-wrapper .floating-action-button ul.active li:nth-child(2) {
  top: -200%;
  left: -200%;
  transition-delay: 0s;
}

.section-wrapper .floating-action-button ul.active li:nth-child(3) {
  top: 200%;
  left: -200%;
  transition-delay: 0s;
}

.section-wrapper .floating-action-button ul.active li:nth-child(4) {
  top: 100%;
  left: 100%;
  transition-delay: 0.4s;
}

.section-wrapper .floating-action-button ul.active li:nth-child(5) {
  top: 100%;
  left: 0%;
  transition-delay: 0.6s;
}

.section-wrapper .floating-action-button ul.active li:nth-child(6) {
  top: 100%;
  left: -100%;
  transition-delay: 0.8s;
}

.section-wrapper .floating-action-button ul.active li:nth-child(7) {
  top: 0%;
  left: -100%;
  transition-delay: 1.0s;
}

.section-wrapper .floating-action-button ul.active li:nth-child(8) {
  top: -100%;
  left: -100%;
  transition-delay: 1.2s;
}


.section-wrapper .floating-action-button ul.active li:nth-child(-n+8):hover {
  transition: transform 0.2s;
}



.section-wrapper ion-icon {
  font-size: 18px;
  transform: rotate(-45deg);
}

.section-wrapper .hide {
  display: none;
}

.section-wrapper .show {
  display: block;
}

.section-wrapper li.share-txt {
  display: flex;
  align-items: center;
}

.section-wrapper li.share-txt span {
  transform: rotate(-45deg);
  transform-origin: center center;
  position: absolute;
  font-size: 13px;
}



.section-wrapper .shareTxTindicator {
  position: relative;
  top: 30%;
  align-self: center;
}

.section-wrapper .shareTxTindicator::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 0px;
  border-radius: 50%;
  bottom: 0%;
  background-color: var(--navLinkHLineColor);
  visibility: hidden;
  transition: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.466);
  transform: rotate(-45deg);
  left: 4px;

}

.section-wrapper li.share-txt:hover .shareTxTindicator::before {
  visibility: visible;
  width: 7px;
  transform-origin: right;

}

@media (max-width: 665px) {
  .section-wrapper {
    top: 55.5vh;

  }

  .section-wrapper .floating-action-button {
    width: 39px;
    height: 39px;
  }

  .section-wrapper ion-icon {
    font-size: 11px;
  }

  .section-wrapper li.share-txt span {
    font-size: 8px;
  }


  .section-wrapper .shareTxTindicator::before {
    left: 0px;
  }
}

@media (max-height: 500px) {
  .section-wrapper {
    top: 42.5vh;
  }


}